
{% load statics %}
*{
	margin:0;
	padding:0;
	font-family:Century Gothic;
}



ul {
	float:right;
	list-style-type: none;
	margin-top:-70px;
}

ul li{
	display : inline-block;
}

ul li a{
     text-decoration:none;
	 color:  #fff;
	 padding:5px 20px;
	 border:1px solid #fff;
	 transition:0.6s ease;
	 }
ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}





